@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
#footer-container
{
    width: 100%;
    padding: 5vh 5vw;
    position: relative;
    z-index: 1;
    justify-content: center;
    gap: 10vw;
}
#students-ghymkhana-council{
    cursor:default;
    gap: 1rem;
}
.ghymkhana-logo{
    height: 13rem;
    width: 13rem;
}

#heading
{
   
    font-family: 'Fira Sans Extra Condensed';
}
#details{
 
    font-family: 'Familjen Grotesk';
   }
@media screen and (max-width:1000px) {
    #footer-container
    {
    flex-direction: column;
    gap: 5vh !important;
    } 
    #students-ghymkhana-council{
   justify-content: center;
    }
}
#students-web-committee{
    align-items: center;
    justify-content: center;
}
#swc-details{
    gap: 1rem;
    font-family: 'Familjen Grotesk';

}
#swc-details img{
    aspect-ratio: 1/1;
}
#copy-right{
    font-family: 'Familjen Grotesk';
}






























   



 
  